<!--
stage partial

file
	stage.html

require javascript
	window.chacha (Chacha Class)
	slidetouch (slidetouch jquery plugin)


Provided data:

	product
		-title
		-description
		-image[]
	

-->

<style scoped>

body > div[hash='stage'] .stage-main {
	position: absolute;
	top: 50px;
	bottom: 75px;
	left: 0;
	width: 100%;
}

body > div[hash='stage'] .stage-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: black url("image/shadow1.png") left bottom repeat-x;
}

body > div[hash='stage'] .stage-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 55px;
	background: black url("image/shadow2.png") left top repeat-x;
	text-align: center;
	overflow: hidden;
}

body > div[hash='stage'] .stage-footer .favorite,
body > div[hash='stage'] .stage-footer .save,
body > div[hash='stage'] .stage-footer .setting {
	display: inline-block;
	width: 48px;
	height: 48px;
	background: transparent url("image/setting.png") center center no-repeat;
	padding: 4px;
	margin-left: 10px;
	margin-right: 10px;
}

body > div[hash='stage'] .stage-footer .favorite {
	background-image: url("image/favorite.png");
	width: 64px;
}

body > div[hash='stage'] .stage-footer .save {
	background-image: url("image/save.png");
}

body > div[hash='stage'] a:hover {
	background-color: #AAA;
	border-radius: 6px;		
}

body > div[hash='stage'] a.category-button {
	float: left;
	width: 32px;
	height: 32px;
	background: transparent url("image/category.png") center center no-repeat;
	padding: 4px;
	margin: 2px;
}

body > div[hash='stage'] p.category-name {
	float: left;
	color: white;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	font-size: large;
	margin-left: 15px;
}

body > div[hash='stage'] a.search {
	float: right;
	width: 32px;
	height: 32px;
	background: transparent url("image/search.png") center center no-repeat;
	padding: 4px;
	margin: 2px;
}

body > div[hash='stage'] .slide-next {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -25px;
	width: 32px;
	height: 32px;
	background: transparent url("image/next.png") center center no-repeat;
	padding: 10px;
}

body > div[hash='stage'] .slide-prev {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -25px;
	width: 32px;
	height: 32px;
	background: transparent url("image/prev.png") center center no-repeat;
	padding: 10px;
}

body > div[hash='stage'] div.reload {
	position: absolute;
	background: transparent url("image/reload_black.png") center center no-repeat;
	top: 50%;
	left: 50%;
	width: 64px;
	height: 64px;
	margin-top: -25px;
	margin-left: -25px;

	-webkit-transform: translate3d(0,0,0);
	-webkit-animation: rotation 2s infinite linear;
}

body > div[hash='stage'] div.search,
body > div[hash='stage'] a.setting {
	position: absolute;
	left: 50%;
	margin-left: -32px;
	border-radius: 32px;
	width: 64px;
	height: 64px;
	background: transparent url('image/search.png') no-repeat center center;
}

body > div[hash='stage'] div.search:hover,
body > div[hash='stage'] a.setting:hover {
	background-color: #888888;
	box-shadow: 0 0 10px #888888;
}

body > div[hash='stage'] div.search {
	top: 0;
	margin-top: -32px;
}

body > div[hash='stage'] a.setting {
	bottom: 0;
	margin-bottom: -32px;
	background-image: url('image/setting.png');
}

body > div[hash='stage'] .recommended {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 32px;
}

body > div[hash='stage'] .recommended img {
	width: 32px;
}

body > div[hash='stage'] .rate {
	position: absolute;
	top: 10px;
	left: 10px;
}

body > div[hash='stage'] .rate img {
	width: 32px;
	height: auto;
}

body > div[hash='stage'] .price {
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-size: xx-large;
	font-weight: bold;
	padding: .1em;
	border-radius: .3em;
	background-color: rgba(255, 255, 255, .7);
}

</style>


<div class='search animated-fast animated-rotate-with-delay'></div>
<a class='setting animated-fast animated-rotate-with-delay' href='#setting'></a>

<!--<div class="stage-header">
	<a class="category-button"></a>
	<p class="category-name">Sample category</p>
	<a class="search"></a>
</div>-->

<div class="stage-main">
	<div class='slidetouch'>
		<div class='slidetouch-wrap'>
			<!--<div><img src='help/1.png' /></div>-->
		</div>

		<div class='slidetouch-end-next'></div>
		<div class='slidetouch-end-prev'></div>

		<div class='slidetouch-touch-next'>
			<div>
				<img src='image/slidetouch-next.png' />
			</div>
		</div>
		<div class='slidetouch-touch-prev'>
			<div>
				<img src='image/slidetouch-prev.png' />
			</div>
		</div>

		<div class='slidetouch-nontouch-next'></div>
		<div class='slidetouch-nontouch-prev'></div>
	</div>
</div>

<!--<div class="stage-footer">
	<a class="save" href="#!extra">
	</a>
	<div class="favorite">
	</div>
	<a class="setting" href="#setting">
	</a>
</div>-->

<div class="stage-up-drawer">
</div>

<div class="stage-down-drawer">
</div>




<script>

/**
 * Load Slide data from the serverside, it also cache data
 * @param url URL pattern for the data loading, you need to put the $START and $SIZE into the url. $START will replace by the start page number and $SIZE with page size (Number of item in each page)
 */
function PagingSlidesource(settings) {
	var config = {
		'url': SERVER_SLIDE_PATH,
		'query': ''
		// the rest optional items: click
	};

	if (settings) $.extend(config, settings);
	this._config = config;

	// number of item that preload after loading specific index
	this._preload = 3;
	// Load slide of not
	this._loop = true;
	// Size of each page
	this._page_size = 50;
	// Slide cache (We will store all the slides here, then if some paramtter change, we will make it empty)
	this._slides = [];
	this._pattern = config.url;
}

/**
 * Get next slide DOM object. Return undefined if no object was present
 */
PagingSlidesource.prototype.next = function() {
	if(typeof(this._index) == 'undefined') {
		this._index = 0;
	} else if(this._slides.length == 0) {
		// not download first bunch of data
		return;
	} else if(this._index >= this._slides.length - 1) {
		if(this._loop) {
			this._index = 0;
		} else {
			return;
		}
	} else {
		this._index++;
	}
	return this.item(this._index, this._preload);
}

/**
 * Get prev slide DOM object. Return undefined if no object was present
 */
PagingSlidesource.prototype.prev = function() {
	if(typeof(this._index) == 'undefined') {
		this._index = 0;
	} else if(this._slides.length == 0) {
		// not download first bunch of data
		return;
	} else if(this._index <= 0) {
		if(this._loop) {
			this._index = this._slides.length - 1;
		} else {
			return;
		}
	} else {
		this._index--;
	}
	return this.item(this._index, this._preload);
}

/**
 * Get specific DOM object with specific index. It will return immediately, but maybe the content load and update inside of this object automatically
 * @param index Index of object in slide that we want to render
 * @param preload Number of preload that we load after load current item
 * @param container Container that item will append inside of that, If it be undefined the new one will generate and return automatically
 * @param try again Indicate that should we try to load item again if error happen of not
 */
PagingSlidesource.prototype.item = function(index, preload, container, tryagian) {
	var self = this;
	var div;

	if(typeof(container) == 'undefined') {
		div = $('<div></div>');
	} else {
		div = container;
	}

	if(div.children().length == 0) {
		$("<div class='loading'></div>").appendTo(div);
	}


	var d = this.data(index);
	if(typeof(d) != 'undefined') {
		$("<img />").attr('src', /*d.link*/ d.image).appendTo(div).load(function() {
			// remove loading
			$('> div', div).remove();

			// OK. add friends link
			if(d.recommended) {
				var recommended = $("<div class='recommended'></div>").appendTo(div);
				$.each(d.recommended, function() {
					$('<img />').attr('src', this.avatar).appendTo(recommended);
				});
			}

			var rate = $("<div class='rate'></div>").appendTo(div);
			for(var $i=0; $i<d.rate; $i++) {
				$("<img src='image/rate.png' />").appendTo(rate);
			}

			$("<span class='price'></span>").text(d.price + '¥').appendTo(div);
		
			// try to preload next image
			for(var i = index; i < self._slides.length && preload > 0; i++, preload--) {
				self.item(i, 0);
			}
		}).error(function() {
			$("<div class='error'></div>").click(function() {
				self.item(index, preload, div.empty(), true);
			}).appendTo(div.empty());
		}).holdandclick(function() { /* handle hold and press on image */
			if(typeof(self._config.hold) == 'function') {
				self._config.hold.call(self, self.data(self.index()));
			}
		}, function() { /* handle click on image */
			if(typeof(self._config.click) == 'function') {
				self._config.click.call(self, self.data(self._index));
			}
		}).touchwipe({
			wipeUp: function() {
				if(typeof(self._config.up) == 'function') {
					self._config.up.call(self, self.data(self._index));
				}
			}, 
			wipeDown: function() {
				if(typeof(self._config.down) == 'function') {
					self._config.down.call(self, self.data(self._index));
				}
			}
		});
	} else {
		var factor = this._index/this._page_size;
		var start = factor;
		var url = this._pattern.replace("$QUERY", this._config.query).replace("$START", String(start)).replace("$SIZE", String(start + this._page_size));
		$.jsonp({
			url: url,
			callback: "jsonCallback",
			"success": function(reponseData) {
				//var start = reponseData.start;
				//var data = reponseData7;
				//var size = data.size;

				var start = reponseData.start;
				var size = reponseData.size;
				var data = reponseData.items;

				// store loaded data
				if(self._slides.length != size) {
					self._slides = new Array(size);
				}
				$.each(data, function(i, v) {
					self._slides[start + i] = v;
				});

				// Now data is available, try to load it again
				if(typeof(container) == 'undefined' || typeof(tryagian) != 'undefined') {
					self.item(index, preload, div);
				} else {
					console.log('Loop detected!');
				}

			},
			"error": function() {
				$("<div class='error'></div>").click(function() {
					self.item(index, preload, div.empty(), true);
				}).appendTo(div.empty());
			}
		});
	}


	return div;
}

/**
 * Because _slides maybe change (from server side), we never get slide data from _slides directly
 */
PagingSlidesource.prototype.data = function(index) {
	var slide = this._slides[index];
	if(typeof(slide) != 'undefined') {
		// conver current data format to our standard format
		var data = {};
		data.id = slide.id;
		data.title = slide.title;
		data.description = slide.description;
		data.price = slide.price;
		data.rate = slide.rate;
		data.sells = slide.sells;
		data.link = slide.link;
		data.images = slide.images;
		data.image = slide.images[0];
		
		data.recommended = slide.recommended;
		
		return data;
	}
	return;
}

PagingSlidesource.prototype.index = function() {
	return this._index;
}

var search_query = '';

function installSlider(fragment) {
	$("body > div[hash='stage'] .search").click(function() {
		window.chacha.show('search', true);
	});
	
	var slideSource = new PagingSlidesource({
		query: search_query,
		click: function() {
			var self = this;
	
			// register or update data provider
			window.chacha.data('product', self.data(self.index()));

			window.chacha.show('details');
		},
		hold: function(selected) {
			window.chacha.show('extra', true, {
				'selected_product': selected
			});
		},
		up: function(){
			window.chacha.show('extra', true, {
				'selected_product': selected
			});
		},
		down: function(){
			window.chacha.show('extra', true, {
				'selected_product': selected
			});
		}
	});
	$('.slidetouch-wrap', fragment).empty();
	var slider = $('.slidetouch', fragment).slidetouch(slideSource);
	slider.nextSlide();
}



window.chacha.fragment("stage", function(fragment, first) {
	if(first) {
		installSlider(); // first time
	}

	// TODO: handle earch change
	var new_search_query = window.chacha.data('search');
	if(typeof(new_search_query) != 'undefined') {
		if(search_query != new_search_query) {
			search_query = new_search_query;
			installSlider(fragment); // update slide with new one
		}
	}
});

</script>
